$light-color: #fff;
$dark-color: #000;

$light-green-color: #7ed56f;
$medium-green-color: #55c57a;
$dark-green-color: #28b485;

$light-orange-color: #ffb900;
$dark-orange-color: #ff7730;

$light-blue-color: #2998ff;
$dark-blue-color: #5643fa;

$grey-dark-color: #777;
$grey-dark2-color: #999;
$grey-dark3-color: #333;

$grey-1-color: #f7f7f7;
$grey-2-color: #eee;
