.about {
  margin-top: -20vh;
  padding: 30rem 0;
  background-color: $grey-1-color;

  &__heading {
    @include mb-big;
  }

  &__subheading {
    @include mb-small;
  }

  &__content {
    @include flex-center;
    @include gap-medium;

    @include breakpoint(63em) {
      flex-wrap: wrap;
    }
  }
}
