.tours {
  margin-top: -20vh;
  padding: 35rem 0 15rem;
  background-color: $grey-1-color;

  &__heading {
    @include mb-big;
  }

  &__content {
    @include flex-center;
    @include gap-medium;
    @include mb-big;
  }
}
