.heading-primary {
  color: $light-color;
  text-transform: uppercase;
  backface-visibility: hidden;

  &__main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;

    @include breakpoint(38em) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  &__sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;

    @include breakpoint(38em) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  color: transparent;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $light-green-color, $dark-green-color);
  background-clip: text;
  transition: transform 0.2s ease-out;

  &:hover {
    text-shadow: 0.5rem 1rem 2rem rgba($dark-color, 0.2);
    transform: skewX(15deg) skewY(7deg) scale(1.1);
  }

  @include breakpoint(63em) {
    font-size: 3rem;
  }

  @include breakpoint(38em) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
}
