.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  background-color: rgba($light-color, 0.6);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba($dark-color, 0.1);
  transform: skewX(-12deg);

  @include breakpoint(63em) {
    width: 70%;
    padding: 3rem;
    padding-left: 9rem;
  }

  @include breakpoint(38em) {
    padding-left: 3rem;
    transform: skewX(0);
  }

  & > * {
    transform: skewX(12deg);
    @include breakpoint(38em) {
      transform: skewX(0);
    }
  }

  &__heading {
    @include mb-small;

    @include breakpoint(38em) {
      font-size: 1.6rem;
    }
  }

  &__shape {
    position: relative;
    float: left;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    transform: translateX(-3rem) skewX(12deg);
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    @include breakpoint(38em) {
      width: 8rem;
      height: 8rem;
      margin-bottom: 1rem;
      margin-left: 3rem;
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.4);
    transition: filter 0.5s ease-out, transform 0.5s ease-out;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $light-color;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    backface-visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__image {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}
