:root {
  font-size: 62.5%;

  @include breakpoint(75em) {
    font-size: 56%;
  }

  @include breakpoint(63em) {
    font-size: 50%;
  }
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 3rem;
  color: $grey-dark-color;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: Lato, sans-serif;
  line-height: 1.7;

  @include breakpoint(63em) {
    padding: 0;
  }
}

::selection {
  color: $light-color;
  background-color: $medium-green-color;
}
